<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
    <title>My Amazing Page</title>
    
</head>
<body>
    <div>
        <h1 class="header">Welcome to my website</h1>
    </div>
    <div class="main-content">
        <img src="https://www.oliviarodrigo.com/sites/g/files/aaj14456/f/styles/suzuki_breakpoints_image_desktop-sm_2x_16x9/public/promo/202108/vinylDESK.jpg"
        width="600px"/>
        <div >
            <a href="about" class="main-buttons">About</a>
            <a href="work" class="main-buttons">My Works</a>
            <a href="photos" class="main-buttons">My photo Gallery</a>
        </div>
    </div>
</body>
</html>