<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css"/>
    <title>Document</title>
</head>
<body>
    <h1 class="header">My Discography</h1>

    <p>
        Sour (stylized in all caps) is the debut studio album by American singer-songwriter Olivia Rodrigo. It was released on May 21, 2021, via Geffen Records. The album was written by Rodrigo and her producer Dan Nigro, recorded in isolation during the COVID-19 lockdown. Originally planned as an EP, Rodrigo expanded Sour into a full-length album following the viral success of her debut single, "Drivers License".
    </p>
    <p>
        Influenced by Rodrigo's favorite genres and singer-songwriters, Sour is primarily a pop record that spans from energetic pop punk songs to bedroom pop ballads. Its subject matter centers on adolescence, failed romance, and heartache. She said the album explores her perils and discoveries as a 17-year-old, with its title referring to the "sour" emotions young people experience but are often criticized for, such as anger, jealousy, and unhappiness. Sour received critical acclaim upon release; reviews regarded it as a solid debut album, underscoring Rodrigo's musical versatility, realistic lyrics, and appeal to Generation Z.
    </p>

    <a href="/" class="return">Return to home</a>
</body>
</html>